.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-bar {
  position: absolute;
  left: 25vw;
  width: 50vw;
  top: 80px;
}

.user-position-button {
  position: absolute;
  left: 77vw;
  top: 80px;
  height: 40px;
}

.map {
  height: 60vh;
  width: 50vw;
  background-color: aqua;
  float: right;
  position: absolute;
  right: 0;
  top: 30vh;
  margin-right: 2vh;
}

.searchbar-container{
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.dropDown-list-container{
  position: absolute;
  left: 25vw;
  top: 120px;
  width: 50vw;
  text-align: left;
  z-index: 2;
}

.dropDown-list{
  background-color: white;
  padding: .75rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}

.time-container {
  position: absolute;
  width: 50vw;
  top:83vh;
  text-align: center;
  z-index: 1;
}