.delete-btn {
    position: absolute;
    left: 0;
    margin-bottom: 5px;
}

.search-table {
    height: 60vh;
    width: 40vw;
    float: left;
    position: absolute;
    left: 5vw;
    top: 30vh;
    margin-right: 2vh;
}